UDOS_INSTALL_ROOT=/opt/udos
UDOS_HOME=%h/.udos
UDOS_RUNTIME_PROFILE=ubuntu-command-centre
UDOS_HOSTD_PORT=7100
UDOS_WEB_PORT=7107
UDOS_COMMANDD_PORT=7101
UDOS_VAULTD_PORT=7102
UDOS_SYNCD_PORT=7103
UDOS_SCHEDULED_PORT=7104
UDOS_NETWORKD_PORT=7105
UDOS_BUDGETD_PORT=7106
UDOS_TUID_PORT=0
UDOS_THINUI_PORT=0
